body{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper{
text-align:center;
flex:1;
}
h1{
  background: lightgreen;
  padding:17px;
  margin-top:0px;
}

#submit{
margin-top:30px;
font-size:20px;

}
.contact{
  margin-bottom: 5px;
 margin-top:10px;
}
ul{
margin-top:2px;
margin-left: 15px;
padding-left:12px;
}
footer{

 padding-left:20px;
  background:lightgray
  ;
}

@media(min-width:600px) {
.wrapper{
  height:calc(100vh-89px);
}
}
@media (min-width : 970px ) {
.wrapper{
  width:70%;
  margin:0 auto;
}
}
